@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1117;
  --foreground: #ffffff;
  --primary: #1d9bf0;
  --accent: #22c55e;
  --secondary: #161e27;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
